@font-face {

  font-family: futura;

  src: url(../fonts/FuturaPT-Book.ttf);

}

@font-face {

  font-family: OpenL;

  src: url(../fonts/OpenSans-Light.ttf);

}

@font-face {

  font-family: OpenB;

  src: url(../fonts/OpenSans-Bold.ttf);

}

ul.log {

    list-style: none!important;

}
.logged-in-box.auth0-box.logged-in {
    display: none;
}
.task_title {
    text-transform: capitalize;
}

ul.log a {
    float: left;
}

button.btn.btn-danger {
    margin-bottom: 21px;
}

.log img {
    width: 20px;
    height: 20px;
    float: left;
    margin: initial;
    margin-left: 2px;
    margin-top: 12px;
    border-radius: 10px;
}

.log i.fas.fa-user-alt {
    float: left;
    margin-top: 14px;
    margin-right: 4px;
}

input[type="text"] {
    margin-bottom: 6px;
    border-radius: 4px;
    border: 1px solid #b9b9b9;
    height: 43px;
}

.container.height {

    padding-top: 5%;

}
h3.Adpost {
    margin: auto;
    font-size: 19px;
    color: red;
}
.logo img {

    width: 132px;

}

ul.log a {

    color: #4798b1 !important;

}

a.nav-link.logo img {

    border-radius: 50px;

}

.navbar-light .navbar-toggler {

    color: rgba(255, 255, 255, 0.5);

    border-color: rgb(255, 255, 255);

}

.col-md-3 img {

    width: 100%;

}

p#find span {
    color: #007bff;
}
h3.Adpostitle {
    margin: auto;
    font-size: 19px;
    color: #3c8398;
}

.main {
    background: #ffffffeb;
    min-height: 700px;
}

li.nav-item.active a {
    color: #4798b1 !important;
}

.nav-back {

    background-color: #364049!important;

}

.btn-outline-success {

    color: #ffffff;

    background-color: transparent;

    background-image: none;

    border-color: #ffffff;

}

.row.team p {

    text-align: justify;

}

.row.team img {

    max-width: 100px;

}

.login {

    height: 500px;

    background: white;

}

.main {
    background: #ffffffeb;
    min-height: 700px;
    padding-top: 0px;
    border-left: 1px solid #0000000a;
    border-right: 1px solid #0000000a;
    margin-bottom: -17px;
    margin-top: 21px;
}
.footer {
    min-height: 121px;
    background: white;
    border-top: 1px solid #00000012;
}

span.messageRed {

    color: red;

}

.col-4.event {

    border-radius: 4px;

    background: #ffffff85;

    margin-top: 20px;

}



span.inlinet {

    float: left;

    margin-right: 5px;

}



button.addmember {

    background: green;

    border: 0px solid;

    color: white;

    border-radius: 2px;

    height: 32px;

}

.udetails {

    margin-top: 22px;

    border-top: 2px solid white;

    padding-top: 15px;

}



span.colorRed {

    color: green;

    font-weight: bold;

}

input[type="text"] {
    margin-bottom: 6px;
    border-radius: 4px;
    border: 1px solid #b9b9b9;
    height: 43px;
}

.deletem {

    color: red;

    font-size: 19px;

    background: #ffffffb3;

    margin-top: 10px;

    margin-bottom: -4px;

}

.navbar.sticky-top.navbar-expand-lg.navbar-light.bg-light {

    max-width: 1170px;

    margin: auto;

}



.row.backwhite {

    background: #ffffffc2;

    margin-top: 0px;

    padding-top: 18px;

}

.col-md-6.mdetails {

    background: #ffffff85;

    padding-top: 61px;

    margin-top: -18px;

    text-transform: capitalize;

}

.bg-light {

    background-color: #364049!important;

}



h2.Login {

    text-align: left;

    font-size: 15px;

    font-family: sans-serif;

    font-weight: normal;

    line-height: 0px;

    color: #FF8218;

}



input.form-control.submit {

    background: #11265f;

    color: white;

    border: 1px solid #11265f;

}



.row.studnet_nav {

    background: hsl(0, 0%, 16%);

    PADDING: 5PX;

}



.row.studnet_nav {

    background: white;

    color: black;

    padding: 9px;

    padding-top: 20px;

}



h3.appointmnet_list {

    padding: 19px 0px 10px 0px;

    font-weight: normal;

    font-size: 27px;

}





span.high {

    font-weight: bold;

    color: #730b0b;

}





p.app {

    font-size: 22px;

}



.student .row {

    background: #f1f1f1;

}

a.nav-link {
    font-family: openB;
    color: white!important;
}

li.nav-item.active a {
    color: #4798b1 !important;
}


p.app {

    font-size: 18px;

    line-height: 14px;

    font-family: OpenL;

}

body {font-family: OpenL;!important}

h1,h2,h3,h4,h5,h6{font-family: OpenB;}

h5.empty {

    margin-top: 11px;

}



button.btn.btn-info {

    margin-bottom: 31px;

}



.footer .row {

    text-align: center;

    font-size: 14px;

    color: #3a3a3a;

    padding: 13px;

    padding-top: 48px;

}



li.nav-item p {

    padding: 8px;

}



h3.appointmnet_list {

    padding: 19px 0px 6px 0px;

    margin-bottom: 27px;

    font-weight: normal;

    font-size: 27px;

}



.min-height h3.appointmnet_list {

    padding: 0px 0px 6px 0px;

    margin-bottom: 9px;

    font-weight: normal;

    font-size: 27px;

}



.row.min-height {

    background: #f1f1f1;

    padding: 20px 67px 36px 67px;

}



.row.main_boder {

    margin-bottom: 27px;

    border-bottom: 1px solid #00000014;

}



.row.min-height {

    background: #f1f1f1;

    padding: 40px 67px 36px 67px;

    min-height: 591px;

}



.row.size {

    padding: 20px 67px 36px 67px;

    min-height: 591px;

}



.main_boder {

    border-bottom: 1px solid #00000014;

}



img.avatar {

    max-width: 73px;

}



span.inline button {

    padding: 0px;

    margin-bottom: 5px;

}



span.inline {

    display: block;

}





a.regi {

    display: none;

}



li.success {

    color: red;

    list-style: none;

}



.fc-basic-view .fc-body .fc-row {

    min-height: 6em !important;

}



.container.wid100 {

    max-width: 100%!important;

    background:white;

}



.nav img {

    max-width: 69px;

    margin-top: -16px;

}



li.nav-item a {

    color: #5d5d5d;

}

.col-12.event {

    background: #FF8214;

    margin-top: 12px;

    border-radius: 6px;

}



.col-12.event {

    background: #FF8218;

    margin-top: 14px;

    border-radius: 4px 4px 0px 0px;

    height: 30px;

    padding-top: 4px;

}



p.event_title {

    font-size: 15px;

    font-weight: bold;

    color: white;

}

p#uniqueId {
    font-size: 5px;
    color: white;
}

.hide{display: none;}

p.month {

    font-family: sans-serif;

    font-size: 18px;

    color: #FF8214;

    line-height: 19px;

    text-transform: uppercase;

    font-weight: bold;

}



.row.event-sub {

    background: white;

    padding-top: 18px;

    border-radius: 0px 0px 4px 4px;

}



p.month.day {

    font-size: 49px;

    line-height: 41px;

}
p.inspiration {
    font-weight: bold;
}



p.event_title_sub {

    font-family: sans-serif;

    font-size: 18px;

    font-weight: bold;

    color: #424242;

}



p.event_in, p.event_out {

    border: 1px solid #00AAA9;

    max-width: 141px;

    margin: auto;

    text-align: center;

    margin-bottom: 14px;

    border-radius: 4px;

}



.inline li {

    list-style: none;

    display: inline;

    border: 1px solid;

    padding-left: 7px;

    padding-right: 7px;

    border-radius: 9px;

}

ul.inline {

    padding-left: 0px;

}



.footer {

    min-height: 121px;

    background: white;

}



section.foot {

    margin-top: 31px;

    padding-top: 14px;

}



.nav-pills .nav-link.active, .nav-pills .show>.nav-link {

    color: #fff;

    background-color: #000000;

    height: 28px;

    padding: 0px;

    margin-top: 8px;

    padding-left: 8px;

    padding-right: 8px;

}

p.event_title_sub {

    font-family: sans-serif;

    font-size: 18px;

    font-weight: bold;

    color: #424242;

    text-transform: capitalize;

}

ul.log {

    padding-left: 0px;

}

ul.navbar-nav {

    padding-left: 17px;

}

span.eve {

    margin: auto;

    text-align: center;

}



p.event_in.eidt {

    color: red;

}

span.inline.test-user-0 {

    display: none;

}

span.inlinet {

    float: left;

    margin-right: 5px;

    display: contents;

}

.col-4.event {

    background: #ffffff85;

    margin-top: 15px;

}

button.addmember {

    background: green;

    border: 0px solid;

    color: white;

    border-radius: 2px;

    height: 39px;

    width: 232px;

}



span.red {

    color: red;

    font-weight: bold;

}



button.addEvent {
    width: 100%;
    border: 0px;
    border-radius: 5px;
    height: 35px;
    background: #045304;
    color: white;
}

/*navigation*/
.log .nav-link {
    display: block;
    padding: 10px 4px;
    margin-right: 10px;
}

.gif{
    width: 16px !important;
    height: 16px !important;
    margin-top: 15px !important;
    transform: rotate(90deg);}

/*Admin CSS*/

p.share {
    font-size: 14px;
    color: #00af78;
}
spa.sharetext {
    font-weight: bold;
}
#success {
    color: #075407;
    font-size: 19px;
}
.red {
    color: red;
    font-size: 19px;
}

/*footer*/
a.fot {
    color: #4798b1;
}
p.des.maintaks {
    margin-bottom: 8px;
}

h5.empty {
    margin-top: 11px;
    text-transform: capitalize;
}
p.des {
    margin-top: 12px;
    margin-bottom: 1px;
}
button#completed {
    color: white;
}
span.sharetext {
    font-weight: bold;
    font-size: 14px;
}

@media only screen and (min-width: 1170px) {

 ul.navbar-nav.mr-auto.mt-2.mt-lg-0 {

    margin-left: 121px;

}

}

@media only screen and (max-width: 991px) {

 div#navbarSupportedContent {

    margin-top: 11px;

    border-top: 1px solid #ffffff59;

}
ul.log {
    padding-left: 17px;
}

}



